<div class="crime-tape" aria-hidden="true"></div>

{% schema %}
{
  "name": "Crime Tape Divider",
  "settings": [],
  "presets": [
    {
      "name": "Crime Tape Divider"
    }
  ]
}
{% endschema %}
